includes:
  - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
  level: 4
  
  paths:
    - public_html/wp-content/plugins/mosque-timetable
  
  bootstrapFiles:
    - vendor/autoload.php
  
  excludePaths:
    - public_html/wp-content/plugins/mosque-timetable/vendor/*
    - public_html/wp-content/plugins/mosque-timetable/node_modules/*
  
  ignoreErrors:
    - '#^Parameter \#2 \$callback of function add_(action|filter) expects callable#'
    - '#^Function (esc_|sanitize_)\w+ might not be defined#'